<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905528678731-ssneh713dq254gcdanpe0nviuto6m0vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905528678731-ssneh713dq254gcdanpe0nviuto6m0vv</string>
	<key>API_KEY</key>
	<string>AIzaSyDgj_FQotLXhXaSa4AqVdQWxfFx2571GM8</string>
	<key>GCM_SENDER_ID</key>
	<string>905528678731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authFirebaseTp</string>
	<key>PROJECT_ID</key>
	<string>authfirebasetp</string>
	<key>STORAGE_BUCKET</key>
	<string>authfirebasetp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905528678731:ios:a31a4125b7c0d369e6f0ce</string>
</dict>
</plist>